body {
  font-family: monospace;
  margin: 0px;
}

button {
  font-family: monospace;
  text-shadow: 1px 1px 1px white;
}

.header {
}

.header .title {
  display: inline-block;
  width: 11ex;
  color: black;
  text-shadow: 1px 1px 1px lightgray;
  margin-top: 0.5em;
  margin-left: 0.5ex;
}

.header .buttons {
  display: inline-block;
  margin-bottom: 0.5em;
}

.header .buttons button {
  margin-left: 1ex;
  min-width: 10ex;
  font-size: 1.2em;
  background-color: black;
  color: white;
  border: 2px outset darkgray;
  padding: 5px;
  cursor: pointer;
  margin-bottom: 0.25em;
}

.header .buttons button:hover {
  background-color: deeppink;
  border-color: pink;
}

.header .buttons button:active {
  background-color: lime;
  border: 2px inset lime;
}

.header .buttons button.active {
  background-color: lightgray;
  color: black;
  cursor: default;
  box-shadow: 1px 1px 1px lightgray;
  border-style: inset;
  border-color: darkgray;
}

.header .buttons button.active:focus {
  outline: 0px;
}

.content .toolbar {
  margin-bottom: 1em;
  background-color: black;
  padding: 1ex;
  color: white;
  text-shadow: 1px 1px 1px darkgray;
}

.content .toolbar.shift {
  background-color: darkorange;
  color: white;
  text-shadow: 1px 1px 1px black;
}

.content .toolbar button {
  background-color: lightgray;
  padding: 4px;
  min-width: 9ex;
}

.content .toolbar button.clickme {
  background-color: darkorange;
  border: 2px outset orange;
}

.content .toolbar button:hover {
  background-color: deeppink;
  border-color: deeppink;
  color: white;
  text-shadow: 1px 1px 1px black;
}

.content .toolbar button:active {
  background-color: lime;
  border-color: lime;
}

.content .toolbar form {
  display: inline-block;
}

.content .toolbar input[type="text"] {
  margin-right: 1ex;
  margin-left: 0.5ex;
  width: 25ex;
}

.content .toolbar .info {
  display: inline-block;
  margin-left: 2ex;
}

.icons .icon {
  vertical-align: top;
  position: relative;
  display: inline-block;
  text-align: center;
  width: 9em;
  height: 9em;
  padding: 5px;
  border: 2px solid transparent;
}

.icons .icon img {
  height: 100%;
  max-height: 7.5em;
}

.icons .icon:hover {
  background-color: deeppink;
  text-shadow: 1px 1px 1px black;
  color: white;
  cursor: pointer;
  border: 2px outset pink;
}

.icons.shift .icon:hover {
  background-color: darkorange;
  border: 2px outset orange;
}

.icons .icon:active {
  background-color: lime;
  border: 2px inset lime;
}
