body {
  font-family: monospace;
  margin: 0px;
}

button {
  font-family: monospace;
  text-shadow: 1px 1px 1px white;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header .title {
  display: inline-block;
  width: 11ex;
  color: black;
  text-shadow: 1px 1px 1px lightgray;
  margin-top: 0.5em;
  margin-left: 0.5ex;
}

.header .buttons {
  display: inline-block;
  margin-bottom: 0.5em;
}

.header .buttons button {
  margin-left: 1ex;
  min-width: 10ex;
  font-size: 1.2em;
  background-color: black;
  color: white;
  border: 2px outset darkgray;
  padding: 5px;
  cursor: pointer;
  margin-bottom: 0.25em;
}

.header .buttons button:hover {
  background-color: deeppink;
  border-color: pink;
}

.header .buttons button:active {
  background-color: lime;
  border: 2px inset lime;
}

.header .buttons button.active {
  background-color: lightgray;
  color: black;
  cursor: default;
  box-shadow: 1px 1px 1px lightgray;
  border-style: inset;
  border-color: darkgray;
}

.header .buttons button.active:focus {
  outline: 0px;
}

.modal {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.modal .screen {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: darkgray;
  opacity: 0.5;
  z-index: 100;
}

.modal > .box {
  position: relative;
  min-width: 200px;
  max-width: 500px;
  min-height: 200px;
  width: 60%;
  margin: auto;
  margin-top: 100px;
  background-color: white;
  z-index: 101;
}

.modal > .box .message {
  padding: 2ex;
}

.modal > .box .title {
  position: relative;
  background-color: black;
  color: white;
  text-shadow: 1px 1px 1px lightgray;
  padding: 1.8ex;
}

.modal > .box .app-id {
  margin-left: 3ex;
  color: darkgray;
}

.modal > .box .title .close {
  position: absolute;
  top: 0.5ex;
  right: 0.5ex;
  display: inline-block;
  color: white;
  padding: 1ex;
  padding-left: 2ex;
  padding-right: 2ex;
  background-color: darkgray;
  border: 2px outset lightgray;
  text-shadow: 1px 1px 1px black;
}

.modal > .box .title .close:hover {
  background-color: deeppink;
  border: 2px outset deeppink;
  cursor: pointer;
}

.modal > .box .title .close:active {
  background-color: lime;
  border: 2px inset lime;
}

.modal > .box .buttons {
  margin-top: 2em;
}

.modal > .box .buttons button {
  width: 15ex;
  padding: 1ex;
}

.modal > .box .buttons button.remove {
  background-color: crimson;
  border: 2px outset red;
  color: white;
  text-shadow: 1px 1px 1px black;
}

.modal > .box .buttons button.cancel {
  margin-left: 20ex;
  background-color: darkgray;
  border: 2px outset darkgray;
  color: white;
  text-shadow: 1px 1px 1px black;
}

.modal > .box .buttons button:hover {
  background-color: deeppink;
  border: 2px outset deeppink;
}

.modal > .box .buttons button:active {
  background-color: lime;
  border: 2px inset lime;
}

.modal .inner {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 99;
}

.content .toolbar {
  margin-bottom: 1em;
  background-color: black;
  padding: 1ex;
  color: white;
  text-shadow: 1px 1px 1px darkgray;
}

.content .toolbar.shift {
  background-color: darkorange;
  color: white;
  text-shadow: 1px 1px 1px black;
}

.content .toolbar button {
  background-color: lightgray;
  padding: 4px;
  min-width: 9ex;
}

.content .toolbar button.clickme {
  background-color: darkorange;
  border: 2px outset orange;
}

.content .toolbar button:hover {
  background-color: deeppink;
  border-color: deeppink;
  color: white;
  text-shadow: 1px 1px 1px black;
}

.content .toolbar button:active {
  background-color: lime;
  border-color: lime;
}

.content .toolbar form {
  display: inline-block;
}

.content .toolbar input[type="text"] {
  margin-right: 1ex;
  margin-left: 0.5ex;
  width: 25ex;
}

.content .toolbar .info {
  display: inline-block;
  margin-left: 2ex;
  min-width: 40ex;
  height: 1em;
}

.icons {
  margin-left: 1ex;
  margin-top: -1ex;
}

.icons .icon {
  vertical-align: top;
  position: relative;
  display: inline-block;
  text-align: center;
  width: 9em;
  height: 9em;
  padding: 5px;
  border: 2px solid transparent;
}

.icons .icon img {
  height: 100%;
  max-height: 7.5em;
}

.icons .icon:hover {
  background-color: deeppink;
  text-shadow: 1px 1px 1px black;
  color: white;
  cursor: pointer;
  border: 2px outset pink;
}

.icons.shift .icon:hover {
  background-color: darkorange;
  border: 2px outset orange;
}

.icons .icon:active {
  background-color: lime;
  border: 2px inset lime;
}

.content .app-settings {
  position: relative;
  padding: 1em;
  padding-top: 0em;
}

.content .app-settings .icon {
  width: 100%;
  height: 100px;
  border: 2px solid black;
  text-align: center;
  padding: 5px;
  margin-bottom: 1em;
}

.content .app-settings .icon img {
  max-width: 100%;
  max-height: 100%;
}

.content .app-settings .left {
  position: relative;
  display: inline-block;
  width: 110px;
  margin-right: 2ex;
}

.content .app-settings button {
  width: 120px;
  background-color: black;
  border: 2px outset darkgray;
  color: white;
  text-shadow: 1px 1px 1px lightgray;
  padding: 5px;
  margin-bottom: 1em;
}

.content .app-settings button.remove {
  background-color: crimson;
  color: white;
  text-shadow: 1px 1px 1px darkred;
  border: 2px outset red;
  margin-top: 3em;
  margin-bottom: 3em;
}

.content .app-settings button.cancel {
  background-color: darkgray;
  color: white;
}

.content .app-settings button:hover {
  background-color: deeppink;
  border: 2px outset pink;
  cursor: pointer;
}

.content .app-settings button:active {
  background-color: lime;
  color: black;
  text-shadow: 1px 1px 1px white;
  border: 2px inset lime;
}

.content .app-settings .right {
  display: inline-block;
  margin-top: -1em;
  margin-left: 2ex;
  vertical-align: top;
}

.content .app-settings .check {
  width: 30ex;
}

.content .app-settings .right h2 {
  background-color: black;
  color: white;
  padding-left: 2ex;
  margin-left: -1.5ex;
  width: 100%;
}

.content .app-settings .versions {
  position: relative;
  display: inline-block;
  vertical-align: top;
  min-height: 400px;
  margin-left: 5ex;
  margin-top: -1em;
}

.content .app-settings .versions button.version {
  display: inline-block;
  min-width: 12ex;
  background-color: black;
  border: 2px outset darkgray;
  color: white;
  text-shadow: 1px 1px 1px white;
  margin-bottom: 0.5em;
  padding: 1ex;
}

.content .app-settings .versions button.version:hover {
  background-color: deeppink;
  border: 2px outset pink;
  cursor: pointer;
}

.content .app-settings .versions button.version.active {
  background-color: lightgray;
  color: black;
  text-shadow: 1px 1px 1px white;
  border: 2px inset darkgray;
  cursor: default;
}

.content .app-settings .versions button.help {
  margin-left: 2ex;
  background-color: darkgray;
  color: white;
  text-shadow: 1px 1px 1px black;
  border: 2px outset darkgray;
  width: 4ex;;
}

.content .app-settings .versions button.help:hover {
  background-color: deeppink;
  border: 2px outset deeppink;
}

.content .app-settings .versions button.help:active {
  background-color: lime;
  border: 2px inset lime;
}

.content .app-settings .locations {
  margin-bottom: 1em;
}

.content .app-settings .share input {
  width: 85%;
  padding: 1ex;
}
